.container {
    box-sizing: border-box;
    width: 50vw;
    padding: 2vh 7vw;
    position: relative;
}

.formGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.input {
    width: 60%;
    padding: 8px;
    border: 2px solid #C2C2C2;
    border-radius: 5px;
    margin-bottom: 14px;
}

.inputSelect{
    width: 7rem;
    border: 1.6px solid rgb(206, 198, 198);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}

.cancel {
    background: #FFFFFF;
    border: 0.848485px solid #CECECE;
    border-radius: 6.50784px;
    padding: 1em 2em;
    margin-left: 15vw;
    margin-right: 1vw;
}

.add {
    background: #ED5353;
    border-radius: 6.50784px;
    padding: 1em 2em;
    border: none;
    color: white;
    font-weight: 600;
}